{% extends 'base.html.twig' %}

{% block title %}Edit Agency{% endblock %}

{% block body %}
    <h1>Editar Agencia</h1>

    {{ include('agency/_form.html.twig', {'button_label': 'Update'}) }}

    <h2 class="border-bottom py-3 my-3">Ações</h2>
    {{ include('agency/_delete_form.html.twig') }}
{% endblock %}
