{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1>Editar Conta</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Atualizar'}) }}

    {% if account.status == 1 %}
        <h2 class="border-bottom py-3 my-3">Ações</h2>
        {{ include('account/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
