{% extends 'base.html.twig' %}

{% block title %}Edit Manager{% endblock %}

{% block body %}
    <h1>Editar Gerente</h1>

    {{ include('manager/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <h2 class="border-bottom py-3 my-3">Ações</h2>
    {{ include('manager/_delete_form.html.twig') }}
{% endblock %}
